{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h2 class="text-primary mb-4">📋 Event Registrations</h2>

    <table class="table table-bordered table-striped">

        <thead class="table-dark">

            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Event Name</th>
            </tr>

        </thead>

        <tbody>

        {% for row in data %}

            <tr>

                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>

            </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}