{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

<div class="card shadow">

<div class="card-header bg-primary text-white">

<h2>Event Registration</h2>

</div>

<div class="card-body">

<form method="POST">

<div class="mb-3">

<label>Name</label>

<input type="text"
name="name"
class="form-control"
required>

</div>

<div class="mb-3">

<label>Email</label>

<input type="email"
name="email"
class="form-control"
required>

</div>

<div class="mb-3">

<label>Event</label>

<input type="text"
class="form-control"
value="{{ event_name }}"
readonly>

</div>

<button class="btn btn-success">

Register Event

</button>

</form>

</div>

</div>

</div>

{% endblock %}